* {
  margin: 0;
}

.app {
  background: linear-gradient(
    90deg,
    rgb(67, 66, 66) 0%,
    rgb(133, 133, 133) 100%
  );
  /* background-color:rgb(67, 66, 66); */
}
.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_posts_Right {
  margin-left: 20px;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgb(67, 66, 66) 0%,
    rgb(133, 133, 133) 100%
  );
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  object-fit: contain;
  width: 200px;
  
}

.app_signup {
  display: flex;
  flex-direction: column;
  
}

.yellow {
  color: rgb(213, 178, 37);
}
